.contenedor{
	height: 500px;
	background-color: rgb(179, 179, 189);
	display: flex;
	justify-content: space-between;
}


.rojo{
	background-color: #840d0d;
	color: azure;
	font-size: 30px;
	width: 200px;
	height: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.azul{
	background-color: #0d1d84;
	color: azure;	
	font-size: 30px;
	width:200px;
	height: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.verde{
	background-color: #0d843b;
	color: azure;	
	font-size: 30px;
	width: 200px;
	height: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
}

