body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Contenedor_ppal {
    width: 90%;
    height: 90%;
    background-color: rgb(14, 91, 77);
}

.contenedor {
    width: 100%;
    display: flex;
    align-items: flex-start;
}

.titulo {
    height: 10%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(112, 98, 24);
    padding-left: 15px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

a {
    color: rgba(25, 35, 10, 0.975);
    text-decoration: none;
}

.menu {
    list-style: none;

}

.item1 {
    width: 20%;
    height: 600px;
    list-style: none;
    background: rgb(247, 223, 215);
    display: flex;
}

.item2 {
    width: 60%;
    height: 600px;
    background: rgb(189, 164, 67);
    color: rgb(75, 75, 75);
    font-family: sans-serif;
    align-items: center;
}

.item3 {
    width: 20%;
    height: 600px;
    background: rgb(148, 105, 35);
    color: white;
}

footer {
    height: 5%;
    background-color: #CCC59E;
    text-align: center;
}

@media (max-width: 1000px) {

    body {
        background-color: rgb(160, 134, 184);
    }

    .contenedor {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .titulo {
        height: auto;
    }

    .item1 {
        width: 100%;
        height: 30%;
        display: flex;
        align-items: row;
    }

    .item2 {
        width: 100%;
        height: 30%;
        display: flex;
    }

    .item3 {
        width: 100%;
        height: 30%;
        display: flex;
    }


    }