#verde {
	position: absolute;
	margin: 0 auto;
	height: 20%;
	width: 20%;
	margin-bottom: 20px;
	background-color: #e5c93e;
	 display: flex;
	justify-content: flex-end;
}

#celeste {
	position: fixed;
	margin: 0 auto;
	height: 30%;
	width: 10%;
	border: 1px solid #328EB2;
	margin-bottom: 20px;
	background-color: #41B8E5;
}

#amarillo {
	/* position:static; */
	margin: 0 auto;
	height: 20%;
	width: 94%;
	border: 1px solid #BCB43A;
	margin-bottom: 20px;
	background-color: #E5DB3F;
}